<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="usbong.android.usbong4TheBlind"
      android:versionCode="3"
      android:versionName="May 1, 2015">
    <uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:icon="@drawable/usbong4theblind_icon" android:label="@string/app_name">
        <activity android:name=".FileChooserMainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ConverterActivity"
                  android:label="@string/app_name">
        </activity>
        
         <activity
            android:name="com.ipaulpro.afilechooser.FileChooserActivity"
            android:exported="true"
            android:icon="@drawable/ic_chooser"
            android:label="@string/select_file"
            >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
    </application>
</manifest>